.centerAlign {
    display: flux;
    justify-content: center;
    align-items: center;
    height: 60vh;

}

.minimum-vh-90 {
    min-height: 30vh !important;
}

.mat-toolbar.mat-primary {
    background: white;
    color: #e3156a
}

.hidedata {
    text-align: center;
}

.form-group {
    width: fit-content;
}

.custom-select {
    width: 200px;
    height: 30px;
}

.forgetpass {
    color: #e3156a;
    font-size: large;
    text-align: left;
}

.form-group mb-3 {
    text-align: right;
}

/* .justify-content-center{
    justify-content:center
} */
.example-spacer {
    flex: 1 1 auto;
}

.backgroundlight {
    border-block: revert;
    border: red;
    color: red;
    font-size: initial;
    background-color: white;
}
.mat-form-field {
    padding: 10px;
}

.outer {
    height: 60vh;
    background: linear-gradient(to top, #a07006 50%, #11a754 90%) no-repeat;
}