.centerAlign {
    display: flux;
    justify-content: center;
    align-items: center;
}

.minimum-vh-90 {
    min-height: 90vh !important;
}

.mat-toolbar.mat-primary {
    background: white;
    color: #e3156a
}

.hidedata {
    text-align: center;
}

.form-group {
    width: fit-content;
}

.custom-select {
    width: 200px;
    height: 30px;
}

.forgetpass {
    color: #e3156a;
    font-size: large;
    text-align: left;
}

.form-group mb-3 {
    text-align: right;
}


.example-spacer {
    flex: 1 1 auto;
}

.backgroundlight {
    border-block: revert;
    border: red;
    color: red;
    font-size: initial;
    background-color: white;
}

.outer {
    height: 100vh;
    background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
}