
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="selectedTabValue($event)">
    <mat-tab color="accent" label="{{'Special_Char'|translate}}"></mat-tab>
    <mat-tab label="{{'Menu_collapse'|translate}}" ></mat-tab>
    <mat-tab label="{{'Create_Account'|translate}}"></mat-tab>
    <mat-tab label="{{'Decimal_Number'|translate}}"></mat-tab>
    <mat-tab label="{{'Number_Only'|translate}}"></mat-tab>
    <mat-tab label="{{'Ag_Grid'|translate}}"></mat-tab>
    <mat-tab label="{{'Expansion panel'|translate}}"></mat-tab>
    <mat-tab label="{{'Multi Selection'|translate}}"></mat-tab>
  </mat-tab-group>
  <!-- start menu bar -->
    <mat-sidenav-container *ngIf="menuHide">
        <mat-sidenav #sidenav mode="side" opened="true">
            <mat-list-item>
                <mat-icon mat-list-icon class="chevron-button sidenave-button"  *ngIf="!isExpanded" (click)="isExpanded =!isExpanded"
                    [ngClass]="{'rotate':isExpanded}">menu</mat-icon>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="chevron-button sidenave-button"  *ngIf="isExpanded" (click)="isExpanded =!isExpanded"
                    [ngClass]="{'rotate':isExpanded}">close</mat-icon>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="chevron-button sidenave-button">home</mat-icon>
                <b *ngIf="isExpanded" style="cursor: pointer; margin: 2px;" routerLink="/home">Dashboard</b>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>language</mat-icon>
                <select *ngIf="isExpanded" style="font-size: initial;margin: 2px;" #Languages (change)="onDropdownChange($event)"
                    (change)="translate.use(Languages.value)">
                    <option *ngFor="let lang of supportedLanguages" [value]="lang">{{lang|translate}}</option>
                </select>
            </mat-list-item>
        </mat-sidenav>
    </mat-sidenav-container>
    <br>
    <!-- start text field -->
    <div  *ngIf="numberInput">
        <b >{{'Number_Only'|translate}}</b><br>
        <mat-form-field appearance="outline">
            <input  matInput placeholder="{{'Number_Only'|translate}}" (keydown)="numberOnly($event)" required>
        </mat-form-field>
    </div>
    <div  *ngIf="decimalInput">
        <b >{{'Decimal_Number'|translate}}</b><br>
        <mat-form-field appearance="outline">
            <input  matInput placeholder="{{'Decimal_Number'|translate}}" (keydown)="decimalFilter($event)" required>
        </mat-form-field>
    </div>
    <div  *ngIf="!CopyPasteInput">
        <b >{{'Copy_Paste'|translate}}</b><br>
        <mat-form-field appearance="outline">
            <input  matInput placeholder="{{'Copy_Paste'|translate}}"  (paste)="copyPaste($event)" required>
        </mat-form-field>
    </div>
    <div  *ngIf="!CopyPasteInput">
        <b >{{'Specail_Char'|translate}}</b><br>
        <mat-form-field appearance="outline">
            <input  matInput placeholder="{{'Specail_Char'|translate}}" (keypress)="specialChar($event)" required>
        </mat-form-field>
    </div>
    <button mat-raised-button (click)="addColumn()" *ngIf="menuHide"> Add column </button>
    <button mat-raised-button (click)="removeColumn()"  *ngIf="menuHide"> Remove column </button><br><br>

    
      
      <!-- start angular table -->
    <div class="mat-elevation-z8" *ngIf="menuHide">
        <mat-form-field appearance="outline" >
            <mat-label>{{'Filter'|translate}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="{{'Search'|translate}}" #input >
          </mat-form-field>    
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'No.'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
          <ng-container matColumnDef="Username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Username'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.username}} </td>
          </ng-container>
          <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Phone'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
          </ng-container>
          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Email'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>
          <ng-container matColumnDef="Skills">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Skills'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.skills}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      <!-- start expansion table from here -->
      <mat-accordion class="example-headers-align" *ngIf="expensionPanel">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'Personal_Details'|translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'Type your name and age'|translate}}
              <mat-icon>account_box</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field appearance="outline">
            <mat-label>{{'First name'|translate}}</mat-label>
            <input matInput>
          </mat-form-field>&nbsp;
      
          <mat-form-field appearance="outline">
            <mat-label>{{'Age'|translate}}</mat-label>
            <input matInput type="number" min="1">
          </mat-form-field>
          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'Destination'|translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'Type the country name'|translate}}
              <mat-icon>my_location</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field appearance="outline">
            <mat-label>{{'Country'|translate}}</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">{{'Previous'|translate}}</button>
            <button mat-button color="primary" (click)="nextStep()">{{'Next'|translate}}</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'Day of the trip'|translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'Inform the date you wish to travel'|translate}}
              <mat-icon>calendar_view_day</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field appearance="outline">
            <mat-label>{{'Date'|translate}}</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">{{'Previous'|translate}}</button>
            <button mat-button color="primary" (click)="nextStep()">{{'End'|translate}}</button>
          </mat-action-row>
        </mat-expansion-panel>
      
      </mat-accordion>
      <!-- Start mulitselect from here -->
  <mat-form-field appearance="outline" *ngIf="multiSelection">
    <mat-label>{{'Skills'|translate}}</mat-label>
    <mat-select  multiple>
      <mat-option *ngFor="let skill of skillsList" [value]="skill">{{skill}}</mat-option>
    </mat-select>
  </mat-form-field>
     
