<!-- <header class="row justify-content-center">

    <div>
        <p>
            <mat-toolbar class="backgroundlight">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
                    aria-label="Example icon-button with menu icon">
                    <div>
                        <mat-menu #menu="matMenu">
                            <div>
                                <button mat-menu-item routerLink="/home">{{'Home'|translate}}</button>
                                <button mat-menu-item routerLink="/intro">{{'Intro'|translate}}</button>
                                <button mat-menu-item routerLink="/work">{{'Workspace'|translate}}</button>
                                <button mat-menu-item [matMenuTriggerFor]="submenu">{{'About_Me'|translate}}</button>
                                <mat-menu #submenu="matMenu">
                                    <div>
                                        <button mat-menu-item
                                            (click)="LinkedinProfile()">{{'Linkedin'|translate}}</button>
                                        <button mat-menu-item
                                            (click)="downloadCV()">{{'Download_CV'|translate}}</button>
                                    </div>

                                </mat-menu>
                            </div>
                        </mat-menu>
                    </div>
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="example-spacer">{{'My_Portfolio'|translate}}</span>
                <mat-tab-group mat-stretch-tabs="false" class="btn-light navbar-light navbar-nav nav-link.active"
                    mat-align-tabs="center" (selectedTabChange)="selectedTabValue($event)">
                    <mat-tab label="{{'Home'|translate}}"></mat-tab>
                    <mat-tab label="{{'Intro'|translate}}"></mat-tab>
                    <mat-tab label="{{'Workspace'|translate}}"></mat-tab>
                </mat-tab-group>
                <span class="example-spacer"></span>
                <img class="image" src="assets/photo/ProfilePhoto.png" alter="profile" />

                <button mat-icon-button (click)="onShareClick($event)" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
                <mat-icon mat-list-icon>language</mat-icon>
                <select  style="font-size: initial;" #Languages (change)="onDropdownChange($event)"
                    (change)="translate.use(Languages.value)">
                    <option *ngFor="let lang of supportedLanguages" [value]="lang">{{lang|translate}}</option>
                </select>
            </mat-toolbar>
            
        </p>

    </div>


</header> -->

    <nav  class="navbar navbar-expand-lg navbar-light fixed-top nav-shadow bg-color mt-1 mb-2">
        <div class="container-fluid">
            <ul class="navbar-nav" style="flex-direction: inherit;">
                <div class="progress-circle face">
                    <div class="progress-number "><b>{{liveCounterValue?.value}}</b></div>&nbsp;
               </div>
                <li class="px-1 pt-1 fontheader">
                    <mat-icon  matTooltip="{{'Menu'|translate}}" (click)="menucollapses()"  (click)="menucollapse =!menucollapse">menu</mat-icon>
                </li>
            </ul>
            <ul class="navbar-nav" style="flex-direction: inherit">
                <li>
                    
                    <a class="navbar-brand   title" matTooltip="{{'Site_Visit'|translate}}" routerLinkActive="active" routerLink="/home">{{'Site_Visit'|translate}}</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="flex-direction: inherit;">
            <li class="nav-item px-1" >       
                <button  mat-icon-button [matMenuTriggerFor]="menu" class="" *ngIf="menucollapse" matTooltip="{{'More'|translate}}">
                    <mat-menu #menu="matMenu">
                        <div class="">
                            <button mat-menu-item routerLink="/home" matTooltip="{{'Home'|translate}}"><mat-icon>home</mat-icon>{{'Home'|translate}}</button>
                            <button mat-menu-item routerLink="/intro" matTooltip="{{'Intro'|translate}}"><mat-icon>business_center</mat-icon>{{'Intro'|translate}}</button>
                            <button mat-menu-item [matMenuTriggerFor]="submenu" matTooltip="{{'About_Me'|translate}}"><mat-icon>info</mat-icon>{{'About_Me'|translate}}</button>
                            <mat-menu #submenu="matMenu">
                                <div>
                                    <button mat-menu-item matTooltip="{{'Linkedin'|translate}}"
                                        (click)="LinkedinProfile()"><mat-icon>link</mat-icon>{{'Linkedin'|translate}}</button>
                                    <button mat-menu-item matTooltip="{{'Download_CV'|translate}}"
                                        (click)="downloadCV()"><mat-icon>cloud_download</mat-icon>{{'Download_CV'|translate}}</button>
                                    <button mat-menu-item (click)="onShareClick($event)"><mat-icon>share</mat-icon>{{'Share'|translate}}
                                    </button>
                                </div>
                            </mat-menu>
                        </div>
                    </mat-menu>
                    <mat-icon >more_vert</mat-icon>
            </button>  
           </li>   
        </ul>
            <div class=" navbar-collapse justify-content-end  " style="padding-right: calc(var(--bs-gutter-x) *2)" >
                <ul class="navbar-nav" style="flex-direction: inherit;padding-right: 0;">
                    <li class="nav-item px-1">
                        <a class="nav-link navbar-brand fontheader" routerLink="/home" routerLinkActive="active"
                            *ngIf="!menucollapse" matTooltip="{{'Home'|translate}}">{{'Home'|translate}}</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link navbar-brand fontheader" routerLink="/intro" routerLinkActive="active"
                            *ngIf="!menucollapse"  matTooltip="{{'Intro'|translate}}">{{'Intro'|translate}}</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link navbar-brand fontheader" style="cursor: pointer;" (click)="openDialogLogin()" routerLinkActive="active"
                            *ngIf="!menucollapse"  matTooltip="{{'Login'|translate}}">{{'Login'|translate}}</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link navbar-brand fontheader">
                            <mat-icon *ngIf="!menucollapse" matTooltip="{{'Language'|translate}}">language</mat-icon>
                         <select class="dropdown" style="bottom: 5px;" *ngIf="!menucollapse" #Languages (change)="onDropdownChange($event)"
                            (change)="_translate.use(Languages.value)">
                            <option *ngFor="let lang of supportedLanguages" [value]="lang">{{lang|translate}}</option>
                        </select>                            
                        </a>
                    </li>    
                    </ul>
            </div>
        </div>
    </nav>
