<!-- <header class="row justify-content-center">

    <div>
        <p>
            <mat-toolbar class="backgroundlight">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
                    aria-label="Example icon-button with menu icon">
                    <div>
                        <mat-menu #menu="matMenu">
                            <div>
                                <button mat-menu-item routerLink="/home">{{'Home'|translate}}</button>
                                <button mat-menu-item routerLink="/intro">{{'Intro'|translate}}</button>
                                <button mat-menu-item routerLink="/work">{{'Workspace'|translate}}</button>
                                <button mat-menu-item [matMenuTriggerFor]="submenu">{{'About_Me'|translate}}</button>
                                <mat-menu #submenu="matMenu">
                                    <div>
                                        <button mat-menu-item
                                            (click)="LinkedinProfile()">{{'Linkedin'|translate}}</button>
                                        <button mat-menu-item
                                            (click)="downloadCV()">{{'Download_CV'|translate}}</button>
                                    </div>

                                </mat-menu>
                            </div>
                        </mat-menu>
                    </div>
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="example-spacer">{{'My_Portfolio'|translate}}</span>
                <mat-tab-group mat-stretch-tabs="false" class="btn-light navbar-light navbar-nav nav-link.active"
                    mat-align-tabs="center" (selectedTabChange)="selectedTabValue($event)">
                    <mat-tab label="{{'Home'|translate}}"></mat-tab>
                    <mat-tab label="{{'Intro'|translate}}"></mat-tab>
                    <mat-tab label="{{'Workspace'|translate}}"></mat-tab>
                </mat-tab-group>
                <span class="example-spacer"></span>
                <img class="image" src="assets/photo/ProfilePhoto.png" alter="profile" />

                <button mat-icon-button (click)="onShareClick($event)" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
                <mat-icon mat-list-icon>language</mat-icon>
                <select  style="font-size: initial;" #Languages (change)="onDropdownChange($event)"
                    (change)="translate.use(Languages.value)">
                    <option *ngFor="let lang of supportedLanguages" [value]="lang">{{lang|translate}}</option>
                </select>
            </mat-toolbar>
            
        </p>

    </div>


</header> -->
    <nav style="background:#88d663" class="navbar navbar-expand-lg navbar-light fixed-top nav-shadow bg-color ">
        <div class="container-fluid" style="padding-right: calc(var(--bs-gutter-x) *2)">
            <ul class="navbar-nav" style="flex-direction: inherit">
                <li class="px-1 pt-1">
                    <img class="image" src="assets/photo/profilephoto.png" alter="Profile Photo" />
                </li>
            </ul>
            <ul class="navbar-nav" style="flex-direction: inherit">
                <li class="px-1 pt-1">
                    <a class="navbar-brand  fw-bold title" routerLinkActive="active" routerLink="/home">{{'My_Portfolio'|translate}}</a>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" *ngIf="menucollapse" (click)="menucollapses()" (click)="menucollapse =!menucollapse" aria-expanded="false" aria-label="Toggle navigation">
                <mat-icon>menu</mat-icon>
            </button>
            <button class="navbar-toggler" type="button" *ngIf="!menucollapse" (click)="menucollapse =!menucollapse" aria-expanded="false" aria-label="Toggle navigation">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <div class=" navbar-collapse justify-content-end" >
                <ul class="navbar-nav" style="flex-direction: inherit;padding-right: 0;">
                    <li class="nav-item px-3">
                        <a class="nav-link navbar-brand" routerLink="/home" routerLinkActive="active"
                            *ngIf="!menucollapse">{{'Home'|translate}}</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link navbar-brand" routerLink="/intro" routerLinkActive="active"
                            *ngIf="!menucollapse">{{'Intro'|translate}}</a>
                    </li>
                    <!-- <li class="nav-item px-3">
                        <a class="nav-link navbar-brand" routerLink="/work"
                            routerLinkActive="active">{{'Workspace'|translate}}</a>
                    </li> -->
                    <li class="nav-item px-3">
                        <a class="nav-link navbar-brand" routerLink="/login" routerLinkActive="active"
                            *ngIf="!menucollapse">{{'Login'|translate}}</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link navbar-brand" routerLink="/signup" routerLinkActive="active"
                        *ngIf="!menucollapse">{{'Create_Account'|translate}}</a>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <ul class="navbar-nav navbar-collapse justify-content-end" style="flex-direction: inherit;padding-right: 0; ">
                        <button mat-icon-button [matMenuTriggerFor]="menu" class="title" *ngIf="!menucollapse">
                            <div>
                                <mat-menu #menu="matMenu">
                                    <div class="title">
                                        <button mat-menu-item routerLink="/home">{{'Home'|translate}}</button>
                                        <button mat-menu-item routerLink="/intro">{{'Intro'|translate}}</button>
                                        <!-- <button mat-menu-item routerLink="/work">{{'Workspace'|translate}}</button> -->
                                        <button mat-menu-item [matMenuTriggerFor]="submenu">{{'About_Me'|translate}}</button>
                                        <mat-menu #submenu="matMenu">
                                            <div>
                                                <button mat-menu-item
                                                    (click)="LinkedinProfile()">{{'Linkedin'|translate}}</button>
                                                <button mat-menu-item
                                                    (click)="downloadCV()">{{'Download_CV'|translate}}</button>
                                                <button mat-menu-item (click)="onShareClick($event)">{{'Share'|translate}}
                                                </button>
                                            </div>
                                        </mat-menu>
                                    </div>
                                </mat-menu>
                            </div>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-icon *ngIf="!menucollapse">language</mat-icon>
                        <select class="dropdown" *ngIf="!menucollapse" #Languages (change)="onDropdownChange($event)"
                            (change)="translate.use(Languages.value)">
                            <option *ngFor="let lang of supportedLanguages" [value]="lang">{{lang|translate}}</option>
                        </select>
                    </ul>

                </ul>
            </div>
        </div>
    </nav>
