/* .btn-light {
  background-color: white;
  border: none;
  color: yellowgreen;
}

textalign {
  text-align: center;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.example-spacer {
  flex: 1 1 auto;
}

.backgroundlight {
  border-block: revert;
  border: red;
  color: red;
  background-color: white
}

.dropdown {
  color: rgba(0, 0, 0, 0.77);
  border-block-end-width: 0px;
  border-color: white;
  background: white;
  cursor: pointer;
  font-size: initial
}

.centerAlign {
  display: flux;
  justify-content: center;
  align-items: center;
} */

.backgroundlight {
  border-block: revert;
  border: red;
  color: red;
  background-color: white
}
.bg-color{
  background-color: white;
}
.lan{
  padding-top: 0;
  padding-right: 2.25rem;
  padding-bottom: 0;
  padding-left: 0.75rem;
  border: none;
  cursor: pointer;
}
.fixed-top{
  position: sticky;
  z-index: 2 !important;
}
.navbar-light .navbar-nav .nav-link{
  font-weight: 800;
  border-bottom: 3px solid white ;
  color:#5236AB;
}
.navbar-light .navbar-nav .nav-link.active {
  color: black !important;
  font-weight: 800;
   border-bottom: 3px solid transparent;
  border-image:linear-gradient(to right, #e31937 , #a82465, #5236ab);
  border-image-slice: 1;   
}
.btn-light{
  background-color: white;
  border: none;
}
.outer {
    height: 0vh;
    background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
}
.title{
  color:rgb(220 20 167);
  text-align:center;
  font-weight: 800;
}

