
.btn-light{
    background-color: white;
    border: none;
}
textalign{
    text-align: center;
}

.mat-tab-group {
    margin-bottom: 48px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .backgroundlight{
    border-block: revert;
    border: white;
    background-color:white
  }
