<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <h3 >{{'My_Name'|translate}}</h3>
            <div class="flip-card" >
                <div class="flip-card-inner" >
                    <div class="flip-card-front bg-white">
                        <img class="image" src="assets/photo/profilephoto.png" alter="Profile Photo" /><br>
                        <b>{{'My_Name'|translate}}</b>
                        <p>{{'Software_Engineer'|translate}}</p>
                    </div>
                    <div class="flip-card-back">
                        <b >{{'Mobile_No'|translate}}:</b>
                        <a href="tel:+918971525470" >+918971525470</a><br>
                        <b >{{'Email_Id'|translate}}:</b>
                        <a href="mailto:mdsalimalam8@gmail.com" >mdsalimalam8@gmail.com</a><br>
                        <b >{{'Address'|translate}}</b><br>
                       
                    </div>
                </div>
            </div> 
      <mat-progress-bar color="warn" mode="buffer" value="100"></mat-progress-bar>          
</div>
<div >
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" [expanded]='false' (opened)="setStep(0)">
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
              {{'Summary_Title'|translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'Summary_Title'|translate}}
              <mat-icon>account_box</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class=" size-color ">{{'Summary'|translate}}</p>
          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">{{'Next'|translate}}</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
          <mat-expansion-panel-header>
            <mat-panel-title class=" title">{{'Skills'|translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'Skills_used'|translate}}
              <mat-icon>apps</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <b class="  size-color">{{'Angular'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="90"></mat-progress-bar>
          <b class="size-color">{{'HTML_CSS'|translate}}</b><mat-progress-bar color="primary" mode="buffer"
              value="90"></mat-progress-bar>
          <b class="  size-color">{{'NET'|translate}}</b><mat-progress-bar color="accent" mode="buffer" value="80"></mat-progress-bar>
          <b class="  size-color">{{'C'|translate}}</b><mat-progress-bar color="accent" mode="buffer" value="80"></mat-progress-bar>
          <b class="  size-color">{{'SQL'|translate}}</b><mat-progress-bar color="accent" mode="buffer" value="80"></mat-progress-bar>
          <b class="  size-color">{{'JavaScript'|translate}}</b><mat-progress-bar color="accent" mode="buffer"
              value="80"></mat-progress-bar>
          <b class="  size-color">{{'MVC'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="60"></mat-progress-bar>
          <b class="  size-color">{{'Jquery'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="60"></mat-progress-bar>
          <b class="  size-color">{{'ASP'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="60"></mat-progress-bar>
          <b class="  size-color">{{'ADO'|translate}}</b><mat-progress-bar color="primary" mode="buffer"
              value="60"></mat-progress-bar><br>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">{{'Previous'|translate}}</button>
            <button mat-button color="primary" (click)="nextStep()">{{'Next'|translate}}</button>
          </mat-action-row>
        </mat-expansion-panel>
  
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
          <mat-expansion-panel-header>
            <mat-panel-title class="title" >{{'Education'|translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'Education_Details'|translate}}
              <mat-icon>book</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-progress-bar color="accent" mode="buffer" value="100"></mat-progress-bar>
          <p class="  size-color">{{'Secab_insitute'|translate}}</p>
          <p class="  size-color">{{'BE_Degree'|translate}}</p>
          <p class="  size-color">{{'ED_Date_1'|translate}}</p>
          <p class="  size-color">{{'S_location2'|translate}}</p>
          <div class="row" >
              <div class="col-md-10" >
                  <p class="  size-color">{{'FC'|translate}}</p>
                  <p class="  size-color">{{'Marks_2'|translate}}</p>
              </div>
          </div>
          <p class="size-color">{{'Malik_Sandal'|translate}}</p>
            <p class="  size-color">{{'Dipl_Degree'|translate}}</p>
            <p class="  size-color">{{'ED_Date_2'|translate}}</p>
            <p class="  size-color">{{'S_location2'|translate}}</p>
            <div class="row">
                <div class="col-md-6">
                    <p class="size-color" >{{'FC'|translate}}</p>
                    <p class="size-color" >{{'Marks_3'|translate}}</p>
                </div>
            </div>
            <mat-progress-bar color="primary" mode="buffer"  value="100"></mat-progress-bar>
            <p class="size-color">{{'10TH'|translate}}</p>
            <p class="size-color">{{'School_10th'|translate}}</p>
            <p class="size-color">{{'ED_Date_3'|translate}}</p>
            <p class=" size-color">{{'S_location1'|translate}}</p>
            <div class="row">
                <div class="col-md-6">
                    <p class="size-color" >{{'FC'|translate}}</p>
                    <p class="size-color" >{{'Marks_1'|translate}}</p>
                </div>
            </div>
            
            <b class=" title" >{{'LANGUAGES'|translate}}</b>
            <section class="example-section">
                <mat-checkbox class="example-margin"  [checked]=true>{{'en'|translate}}</mat-checkbox>
                <mat-checkbox class="example-margin"  [checked]=true>{{'hn'|translate}}</mat-checkbox>
                <mat-checkbox class="example-margin"  [checked]=true>{{'ur'|translate}}</mat-checkbox>
            </section>
        <mat-progress-bar color="primary" mode="buffer"  value="100"></mat-progress-bar>
        <br><b class="title" >{{'Personal_Details'|translate}}</b><br>
        <p class="size-color">{{'Father_name'|translate}}</p>
        <p class="size-color">{{'Date_Of_birth'|translate}}</p>
        <p class="size-color">{{'Nationalty'|translate}}</p>
        <p class="size-color">{{'Gen'|translate}}</p>
  
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">{{'Previous'|translate}}</button>
            <button mat-button color="primary" (click)="nextStep()">{{'End'|translate}}</button>
          </mat-action-row>
        </mat-expansion-panel>
  
      </mat-accordion>
    </div>
