<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class=" fs-2  title">{{'My_Name'|translate}}</p>
            <b class="  title ">{{'Software_Engineer'|translate}}</b><br> <br>
            <b class=" size-color ">{{'Summary'|translate}}</b><br> <br>
            <p class=" title">{{'Skills'|translate}}</p>
            <b class="  size-color">{{'Angular'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="90"></mat-progress-bar>
            <b class="  size-color">{{'HTML_CSS'|translate}}</b><mat-progress-bar color="primary" mode="buffer"
                value="90"></mat-progress-bar>
            <b class="  size-color">{{'NET'|translate}}</b><mat-progress-bar color="accent" mode="buffer" value="80"></mat-progress-bar>
            <b class="  size-color">{{'C'|translate}}</b><mat-progress-bar color="accent" mode="buffer" value="80"></mat-progress-bar>
            <b class="  size-color">{{'SQL'|translate}}</b><mat-progress-bar color="accent" mode="buffer" value="80"></mat-progress-bar>
            <b class="  size-color">{{'JavaScript'|translate}}</b><mat-progress-bar color="accent" mode="buffer"
                value="80"></mat-progress-bar>
            <b class="  size-color">{{'MVC'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="60"></mat-progress-bar>
            <b class="  size-color">{{'Jquery'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="60"></mat-progress-bar>
            <b class="  size-color">{{'ASP'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="60"></mat-progress-bar>
            <b class="  size-color">{{'ADO'|translate}}</b><mat-progress-bar color="primary" mode="buffer"
                value="60"></mat-progress-bar><br>
            <b class="  title">{{'Education'|translate}}</b><br><br>
            <mat-chip-option color="primary"  (click)="educationview =!educationview">{{'Read_More'|translate}}</mat-chip-option>
            <mat-progress-bar color="accent" *ngIf="educationview"mode="buffer" value="100"></mat-progress-bar>
            <b class="  size-color"*ngIf="educationview">{{'Secab_insitute'|translate}}</b><br>
            <b class="  size-color"*ngIf="educationview">{{'BE_Degree'|translate}}</b><br>
            <b class="  size-color"*ngIf="educationview">{{'ED_Date_1'|translate}}</b>
            <b class="  size-color"*ngIf="educationview">{{'S_location2'|translate}}</b><br>
            <div class="row" *ngIf="educationview">
                <div class="col-md-10" *ngIf="educationview">
                    <b class="  size-color"*ngIf="educationview">{{'FC'|translate}}</b><br>
                    <b class="  size-color"*ngIf="educationview">{{'Marks_2'|translate}}</b>
                </div>
            </div><br>
            <mat-progress-bar color="primary" mode="buffer" value="100" *ngIf="educationview"></mat-progress-bar>
            <b class="  size-color"*ngIf="educationview">{{'Malik_Sandal'|translate}}</b><br>
            <b class="  size-color"*ngIf="educationview">{{'Dipl_Degree'|translate}}</b><br>
            <b class="  size-color"*ngIf="educationview">{{'ED_Date_2'|translate}}</b>
            <b class="  size-color"*ngIf="educationview">{{'S_location2'|translate}}</b><br>
            <div class="row">
                <div class="col-md-6">
                    <b class="  size-color" *ngIf="educationview">{{'FC'|translate}}</b><br>
                    <b class="  size-color" *ngIf="educationview">{{'Marks_3'|translate}}</b>
                </div>
            </div><br>
            <mat-progress-bar color="primary" mode="buffer" *ngIf="educationview" value="100"></mat-progress-bar>
            <b class="  size-color"*ngIf="educationview">{{'10TH'|translate}}</b><br>
            <b class="  size-color"*ngIf="educationview">{{'School_10th'|translate}}</b><br>
            <b class="  size-color"*ngIf="educationview">{{'ED_Date_3'|translate}}</b>
            <b class="  size-color"*ngIf="educationview">{{'S_location1'|translate}}</b><br>
            <div class="row">
                <div class="col-md-6">
                    <b class="  size-color" *ngIf="educationview">{{'FC'|translate}}</b><br>
                    <b class="  size-color" *ngIf="educationview">{{'Marks_1'|translate}}</b>
                </div>
            </div>
            <br>
            <p class=" title" *ngIf="educationview">{{'LANGUAGES'|translate}}</p>
            <section class="example-section">
                <mat-checkbox class="example-margin" *ngIf="educationview" [checked]=true>{{'en'|translate}}</mat-checkbox>
                <mat-checkbox class="example-margin" *ngIf="educationview" [checked]=true>{{'hn'|translate}}</mat-checkbox>
                <mat-checkbox class="example-margin" *ngIf="educationview" [checked]=true>{{'ur'|translate}}</mat-checkbox>
            </section>
        </div>

    </div>
</div>