
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p class="fw-bold fs-2 text-center title">{{'My_Name'|translate}}</p>
            <b class="fw-bold text-center title">{{'Software_Engineer'|translate}}</b><br> <br>
            <b class="text-center middle">{{'Summary'|translate}}</b><br> <br>
            <p class="fw-bold title" >{{'Skills'|translate}}</p>
            <b>{{'Angular'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="90"></mat-progress-bar>
            <b>{{'HTML_CSS'|translate}}</b><mat-progress-bar color="primary"mode="buffer" value="90"></mat-progress-bar>
            <b>{{'.NET'|translate}}</b><mat-progress-bar color="accent" mode="buffer" value="80"></mat-progress-bar>
            <b>{{'C#'|translate}}</b><mat-progress-bar color="accent" mode="buffer" value="80"></mat-progress-bar>
            <b>{{'SQL'|translate}}</b><mat-progress-bar color="accent" mode="buffer" value="80"></mat-progress-bar>
            <b>{{'JavaScript'|translate}}</b><mat-progress-bar color="accent" mode="buffer" value="80"></mat-progress-bar>
            <b>{{'MVC'|translate}}</b><mat-progress-bar  color="primary" mode="buffer" value="60"></mat-progress-bar>
            <b>{{'Jquery'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="60"></mat-progress-bar>
            <b>{{'ASP.NET'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="60"></mat-progress-bar>
            <b>{{'ADO.NET'|translate}}</b><mat-progress-bar color="primary" mode="buffer" value="60"></mat-progress-bar>
            <br><p class="fw-bold title" >{{'Unkown Languague'|translate}}</p>
            <section class="example-section">
                <mat-checkbox class="example-margin" [checked]=true>{{'English'|translate}}</mat-checkbox>
                <mat-checkbox class="example-margin" [checked]=true>{{'Hindi'|translate}}</mat-checkbox>
                <mat-checkbox class="example-margin" [checked]=true>{{'Urdu'|translate}}</mat-checkbox>
            </section>
        </div>
        
    </div>
</div>