<div class="row justify-content-center align-items-center minimum-vh-90">
    <div class="col-sm-4">


        <mat-toolbar color="primary">{{'Login'|translate}}</mat-toolbar>
        <mat-card>
            <form formGroup="loginForm"  >
                <div class="row">
                    <mat-form-field>
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input autofocus type="text" matInput placeholder="Username">
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary">{{'Login'|translate}}</button>
            </form>
        </mat-card>

    </div>

</div>