.centerAlign{
    display: flux;
    justify-content: center;
    align-items: center;
    }
    .minimum-vh-90 {
        min-height: 90vh !important;
    }
    .mat-toolbar.mat-primary{
        background: #5236AB;
    }