.title{
    color:rgb(195 12 42);
    font-size: medium;

}
.title-header{
    color:rgb(159 15 205);
    font-size: medium;

}
.datelocation{
    font-size: small;
}
.container{
    margin: 0% auto;
}