<b class="fw-bold text-center title">{{'Company'|translate}}</b>
<b class="fw-bold text-center title-header">{{'CGI_India'|translate}}</b><br>&nbsp;
<b class="fw-bold text-center datelocation">{{'Date1'|translate}}</b>
<b class="fw-bold text-center datelocation">{{'C_location'|translate}}</b>
<mat-progress-bar mode="buffer" color="primary" value="100"></mat-progress-bar>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <b class="fw-bold text-center title">{{'Software_Engineer'|translate}}</b><br> <br>
            <b class="fw-bold text-center datelocation">{{'Project'|translate}}{{'Estimation_Environment'|translate}}</b><br> <br>
            <mat-chip-option color="accent" (click)="readMoreC1 =!readMoreC1"  routerLink="/intro">{{'Read_More'|translate}}</mat-chip-option>
            <p class="fw-bold datelocation"  *ngIf="readMoreC1">{{'R1'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC1">{{'R2'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC1">{{'R3'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC1">{{'R4'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC1">{{'R5'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC1">{{'R6'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC1">{{'R7'|translate}}</p>
        </div>
    </div>
</div>
<b class="fw-bold text-center title">{{'Company'|translate}}</b>
<b class="fw-bold text-center title-header">{{'Mill_Compnay'|translate}}</b><br>&nbsp;
<b class="fw-bold text-center datelocation">{{'Date2'|translate}}</b>
<b class="fw-bold text-center datelocation">{{'C_location'|translate}}</b>
<mat-progress-bar mode="buffer" color="accent" value="100"></mat-progress-bar>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <b class="fw-bold text-center title">{{'Dot_Net_Developer'|translate}}</b><br> <br>
            <b class="fw-bold text-center datelocation">{{'Project'|translate}}{{'Higher_Education'|translate}}</b><br> <br>
            <mat-chip-option color="accent" (click)="readMoreC2 =!readMoreC2"  routerLink="/intro">{{'Read_More'|translate}}</mat-chip-option>
            <p class="fw-bold datelocation"  *ngIf="readMoreC2">{{'R8'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC2">{{'R9'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC2">{{'R10'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC2">{{'R11'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC2">{{'R12'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC2">{{'R13'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC2">{{'R14'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC2">{{'R15'|translate}}</p>
        </div>
    </div>
</div>
<b class="fw-bold text-center title">{{'Company'|translate}}</b>
<b class="fw-bold text-center title-header">{{'Talisma'|translate}}</b><br>&nbsp;
<b class="fw-bold text-center datelocation">{{'Date3'|translate}}</b>
<b class="fw-bold text-center datelocation">{{'C_location'|translate}}</b>
<mat-progress-bar mode="buffer" color="primary" value="100"></mat-progress-bar>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <b class="fw-bold text-center title">{{'Trainee_Developer'|translate}}</b><br> <br>
            <b class="fw-bold text-center datelocation">{{'Project'|translate}}{{'Chat_bot'|translate}}</b><br> <br>
            <mat-chip-option color="accent" (click)="readMoreC3 =!readMoreC3"  routerLink="/intro">{{'Read_More'|translate}}</mat-chip-option>
            <p class="fw-bold datelocation"  *ngIf="readMoreC3">{{'R16'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC3">{{'R17'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC3">{{'R18'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC3">{{'R19'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC3">{{'R20'|translate}}</p>
            <p class="fw-bold datelocation"  *ngIf="readMoreC3">{{'R21'|translate}}</p>
        </div>
        
    </div>
</div>