<div style="font-family:cursive">
<p class="  title">{{'Company'|translate}}{{'CGI_India'|translate}}</p>
<p class="  datelocation">{{'Date1'|translate}}</p>
<p class="  datelocation">{{'C_location'|translate}}</p>
<mat-progress-bar mode="buffer" color="primary" value="100"></mat-progress-bar>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="  title">{{'Software_Engineer'|translate}}</p> 
            <p class="  datelocation">{{'Project'|translate}}{{'Estimation_Environment'|translate}}</p> 
            <mat-chip-option color="accent" (click)="readMoreC1 =!readMoreC1"  routerLink="/intro">{{'Read_More'|translate}}</mat-chip-option>
            <p class=" datelocation"  *ngIf="readMoreC1">{{'R1'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC1">{{'R2'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC1">{{'R3'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC1">{{'R4'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC1">{{'R5'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC1">{{'R6'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC1">{{'R7'|translate}}</p>
        </div>
    </div>
</div>
<p class="  title">{{'Company'|translate}}{{'Mill_Compnay'|translate}}</p>
<p class="  datelocation">{{'Date2'|translate}}</p>
<p class="  datelocation">{{'C_location'|translate}}</p>
<mat-progress-bar mode="buffer" color="accent" value="100"></mat-progress-bar>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="  title">{{'Dot_Net_Developer'|translate}}</p> 
            <p class="  datelocation">{{'Project'|translate}}{{'Higher_Education'|translate}}</p> 
            <mat-chip-option color="accent" (click)="readMoreC2 =!readMoreC2"  routerLink="/intro">{{'Read_More'|translate}}</mat-chip-option>
            <p class=" datelocation"  *ngIf="readMoreC2">{{'R8'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC2">{{'R9'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC2">{{'R10'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC2">{{'R11'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC2">{{'R12'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC2">{{'R13'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC2">{{'R14'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC2">{{'R15'|translate}}</p>
        </div>
    </div>
</div>
<p class="  title">{{'Company'|translate}}{{'Talisma'|translate}}</p>
<p class="  datelocation">{{'Date3'|translate}}</p>
<p class="  datelocation">{{'C_location'|translate}}</p>
<mat-progress-bar mode="buffer" color="primary" value="100"></mat-progress-bar>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="  title">{{'Trainee_Developer'|translate}}</p> 
            <p class="  datelocation">{{'Project'|translate}}{{'Chat_bot'|translate}}</p> 
            <mat-chip-option color="accent" (click)="readMoreC3 =!readMoreC3"  routerLink="/intro">{{'Read_More'|translate}}</mat-chip-option>
            <p class=" datelocation"  *ngIf="readMoreC3">{{'R16'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC3">{{'R17'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC3">{{'R18'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC3">{{'R19'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC3">{{'R20'|translate}}</p>
            <p class=" datelocation"  *ngIf="readMoreC3">{{'R21'|translate}}</p>
        </div>
        
    </div>
</div>
</div>