.messageSize {
    font-size: 15px;
    overflow: hidden;
    color: #1c1a1a
}

.borderButton {
    border-bottom: rgb(13 238 80 / 87%);
    overflow: hidden
}

.titleheader {
    background: #5f2066;
    height: 50px;
    color: white;
    overflow: hidden
}

.alertbox {
    overflow: hidden;
}