<h2 mat-dialog-title>AG Grid</h2>
<mat-dialog-content class="mat-typography">
        <form (ngSubmit)="onSubmit()" style="text-align: center;"name="UserForm" [formGroup]="UserForm">
                <mat-form-field appearance="outline">
                    <mat-label>{{'Username'|translate}}</mat-label>
                    <input type="username" formControlName="username" matInput placeholder="{{'username'|translate}}" required>
                    <mat-error
                        *ngIf="UserForm.controls['username'].invalid">{{'Username'|translate}}
                    </mat-error>
                </mat-form-field>&nbsp;&nbsp;
                <mat-form-field appearance="outline">
                    <mat-label>{{'email'|translate}}</mat-label>
                    <input type="email" formControlName="email" matInput placeholder="{{'email'|translate}}" required>
                    <mat-error
                        *ngIf="UserForm.controls['email'].invalid">{{'email'|translate}}
                    </mat-error>
                </mat-form-field><br>
                <mat-form-field appearance="outline">
                    <mat-label>{{'phone'|translate}}</mat-label>
                    <input type="phone" formControlName="phone" matInput placeholder="{{'phone'|translate}}" required>
                    <mat-error
                        *ngIf="UserForm.controls['phone'].invalid">{{'phone'|translate}}
                    </mat-error>
                </mat-form-field>&nbsp;&nbsp;
                <mat-form-field appearance="outline">
                    <mat-label>{{'Skills'|translate}}</mat-label>
                    <mat-select  name="food">
                      <mat-option *ngFor="let Coding of CodingLang" [value]="Coding">
                        {{Coding}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <!-- <select class="form-controls" name="Skills" ngModel>
                    <option value="" selected>--Select-- </option>
                    <option *ngFor="let Coding of CodingLang">{{Coding}}</option>
                </select> -->
        </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" mat-dialog-close>Cancel</button>
  <button mat-button color="accent"(click)="onSubmit()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>
