/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
html,
body {
    height: 100%;
}
html, body {
    height: 0%;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
 }
body {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul li p {
    font-weight: bold;
}
.cancelIcon{
    position: absolute; right: 15px;
    font-size: 25px;
    cursor: pointer;
}
