.example-spacer {
    flex: 1 1 auto;
}

.backgroundlight {
    color: black;
    background: white;
    border: white;
}
.mat-sidenav-container{
    height: 160px; 
    width: 116.5px;
    background: white;
}
.chevron-button{
    transition: 300ms ease-in-out;
    transform: rotate (0deg);
    right: 0;
}
.chevron-button.rotate{
    transform: rotate(180deg);
}

  .fixed-top{
    position: absolute;
    z-index: 2 !important;
  }
  .navbar-light .navbar-nav .nav-link{
    /* font-weight: 800; */
    border-bottom: 3px solid #20d29b ;
    background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;

    color:#5236AB;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: black !important;
    font-weight: 600;
    font-size: medium;
    border-bottom: 3px solid transparent;
    border-image:linear-gradient(to right, #e31937 , #a82465, #5236ab);
    border-image-slice: 1;   
  }
  .btn-light{
    background-color: white;
    border: none;
  }
  /* .title{
    color:rgb(18, 122, 108);
    text-align:center;
    font-weight: 600;
    font-size: medium;
  } */
  .fontheader{
    font-size: medium;
    cursor: pointer;
  }


  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  