.example-spacer {
    flex: 1 1 auto;
}

.backgroundlight {
    color: black;
    background: white;
    border: white;
}
.mat-sidenav-container{
    height: 160px; 
    width: 116.5px;
    background: white;
}
.chevron-button{
    transition: 300ms ease-in-out;
    transform: rotate (0deg);
    right: 0;
}
.chevron-button.rotate{
    transform: rotate(180deg);
}

  .fixed-top{
    position: absolute;
    z-index: 2 !important;
  }
  .navbar-light .navbar-nav .nav-link{
    /* font-weight: 800; */
    border-bottom: 3px solid #20d29b ;
    background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;

    color:#5236AB;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: black !important;
    font-weight: 600;
    font-size: medium;
    border-bottom: 3px solid transparent;
    border-image:linear-gradient(to right, #e31937 , #a82465, #5236ab);
    border-image-slice: 1;   
  }
  .btn-light{
    background-color: white;
    border: none;
  }
  /* .title{
    color:rgb(18, 122, 108);
    text-align:center;
    font-weight: 600;
    font-size: medium;
  } */
  .fontheader{
    font-size: medium;
    cursor: pointer;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  
  h3{
    font-weight: bold;
    color:blue;
    animation: move 4s alternate infinite;
  }
  @keyframes move {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translate(50%);
    }
  }
  .flip-card {
      background-color: transparent;
      width: 300px;
      height: 200px;
      border: 1px solid #f1f1f1;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }
    
    /* This container is needed to position the front and back side */
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    
    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
      background-color: #bbb;
      color: black;
    }
    
    /* Style the back side */
    .flip-card-back {
      background-color: dodgerblue;
      color: white;
      transform: rotateY(180deg);
    }
    @keyframes rot {
      from {
        transform: rotateY(0deg);
      }
    
      to {
        transform: rotateY(360deg);
      }
    }
    .card-btn {
      margin: 5em;
    }
    
    .card {
      width: 200px;
      height: 200px;
      transform-style: preserve-3d;
      text-align: center;
      font-size: 18px;
      position: relative;
      border: none;
      perspective: 20em;
      animation: rot 4s linear infinite;
    }
    .face {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: 50%;
      backface-visibility: hidden;
      background: blue;
      color: white;
    }
    
    .face:last-child {
      transform: rotateY(.5turn);
    }