<div class="footer px-5">
    <div class="row">
        <div class="col-12" >
                <mat-chip-option selected color="warn" (click)="downloadCV()">{{'Download_CV'|translate}}</mat-chip-option>
                <mat-chip-option selected (click)="LinkedinProfile()">{{'Linkedin'|translate}}</mat-chip-option>
                <mat-chip-option color="accent"  *ngIf="!intropage" (click)="intropage =!intropage" routerLink="/intro">{{'Read_More'|translate}}</mat-chip-option>

                <div class="col-4">
        </div>
    </div>
</div>